@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@font-face {
    font-family: peshang;
    src: url("./fonts/Peshang_Des_5_Bold.ttf");
}

* {
    scroll-behavior: smooth;
    font-family: peshang;
}

body {
    position: relative;
}

.container-fluid {
    font-family: peshang;
    overflow-y: scroll;
    height: 100dvh;
    scroll-snap-type: y mandatory;
}

.container-fluid::-webkit-scrollbar {
    width: 0;
}

.container-fluid section {
    scroll-snap-align: start;
}

.container-fluid section:first-child {
    background-color: #f5f5f5 !important;
    position: relative;
    transition: 0.1s;
}

section nav.navbar,
section nav.navbar form button {
    font-size: 1rem;
}

.loginBtnn {
    background-color: #2D3A3A;
    color: #FCFFFC;
}

.signupBtnn {
    background-color: #FCFFFC !important;
    color: #2D3A3A;
}

.loginBtnn:hover,
.signupBtnn:hover {
    opacity: 0.6;
}

.links ul li a {
    color: #121212;
}

.links ul li a {
    color: #121212;
}

.container-fluid section:first-child footer {
    height: 30px;
    position: absolute;
    top: calc(100% - 30px);
    background-color: #2D3A3A;
    color: whitesmoke;
    z-index: 3;
}

.container-fluid section:first-child footer a {
    color: whitesmoke;
    text-decoration: none;
}

.dots {
    z-index: 10;
}

.dots .dot {
    border-radius: 100%;
    overflow: hidden;
    width: 8px;
    height: 8px;
    background-color: #2D3A3A;
    opacity: 0.5;
    transition: 0.2s;
    cursor: pointer;
}

.slogan {
    z-index: 2;
    margin-top: 10%;
}

.animator {
    animation: animate 1.5s ease-in-out infinite;
    background-color: #2D3A3A;
    color: whitesmoke;
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.changing_text {
    transition: 1s;
}

.image-container {
    height: 500px;
    position: absolute;
    top: 10%;
    width: 100%;
    z-index: 1;
}

.image-container .image {
    width: 200px;
    height: 100%;
    margin: 0 auto;
    transition: 1s;
    margin-bottom: 10px;
}

.image-container .left .image img,
.image-container .right .image img {
    width: 100%;
}

.image-container .left .image,
.image-container .right .image {
    transition: 0.5s;
    opacity: 0.7;
}

.image-container .left .image:hover,
.image-container .right .image:hover {
    opacity: 1;
    transform: scale(1.1);
}

#section2 {
    background-color: #fefae0;
}

.container.images img {
    position: relative;
}

.container.images img:nth-child(1) {
    left: 40px;
    top: 20px;
}

.container.images img:nth-child(1) {
    left: 100px;
}

.container.images img:nth-child(1) {
    left: 80px;
}

@keyframes animate {
    0% {
        transform: translateY(-15px);
    }
    50% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-15px);
    }
}

@media(max-width:600px) {
    .links {
        display: none;
    }
    section nav.navbar,
    section nav.navbar form button {
        font-size: 0.8rem;
    }
    .image-container {
        display: block !important;
        top: 45%;
    }
    .image-container .image {
        width: 100px;
        height: 100%;
        margin: 0 auto;
    }
    .image-container .left .image img,
    .image-container .right .image img {
        border-radius: 15px !important;
    }
}

.expolore,
.expolore2 {
    background-color: #ddbea9;
    border-radius: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.expolore2 {
    background-color: rgb(255, 30, 244);
}

#section3 .row .col:first-child {
    background: linear-gradient(45deg, #ff78bc, pink);
}

#section3 .row .col:nth-child(2) {
    background: url("https://i.pinimg.com/564x/74/f6/79/74f679b90019f309a4fc56fd77f6f231.jpg");
    background-position: center;
}

@media(max-width:900px) {
    .image-container {
        display: block !important;
        top: 45%;
    }
    .image-container .image {
        width: 100px;
        height: 100%;
        margin: 0 auto;
    }
    .image-container .left .image img,
    .image-container .right .image img {
        border-radius: 15px !important;
    }
    .container.images img {
        width: 100px;
    }
}

.register-form {
    z-index: 100;
}

input:focus,
button:focus {
    box-shadow: none !important;
}

.loginBtn {
    background-color: #2D3A3A !important;
    color: whitesmoke;
}

.modal input:focus {
    border: 1px solid #2D3A3A !important;
}

.modal button {
    transition: 0.1s;
}

.modal button:hover {
    background-color: #2D3A3A !important;
    color: whitesmoke !important;
}