@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@font-face {
    font-family: peshang;
    src: url("./fonts/Peshang_Des_5_Bold.ttf");
}

* {
    scroll-behavior: smooth;
    font-family: peshang;
    box-sizing: border-box;
}

body {
    position: relative;
}

.container-fluid {
    font-family: peshang;
    overflow-y: scroll;
    height: 100dvh;
    scroll-snap-type: y mandatory;
}

.container-fluid::-webkit-scrollbar {
    width: 0;
}

.container-fluid section {
    scroll-snap-align: start;
}

.container-fluid section:first-child {
    background-color: #f5f5f5 !important;
    position: relative;
    transition: 0.1s;
}

section nav.navbar,
section nav.navbar form button {
    font-size: 1rem;
}

.navbar {
    position: relative;
    top: 0;
    z-index: 100;
}

.loginBtnn,
.add-bio-form .btn:nth-child(2),
.post-btn {
    background-color: #2D3A3A;
    color: #FCFFFC;
}

.uplaod-image-form .post-btn {
    background-color: #2D3A3A !important;
    color: #FCFFFC;
}

.uplaod-image-form .post-btn:hover {
    opacity: 0.9;
}

.uplaod-image-form .card {
    border: 1px dashed lightgray !important;
}

#image-label {
    max-height: 400px;
    overflow: hidden;
}

#previewc {
    overflow: hidden;
}

.logout {
    width: 100%;
    height: 100dvh;
    left: 0;
    top: 0;
    z-index: 101;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0 0 0/10%);
    transform-origin: center;
    display: none;
}

.logout .logout-form {
    margin-top: 200px;
}

.an {
    animation: an 0.5s cubic-bezier(.27, .31, .56, 1.38);
}

@keyframes an {
    0% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}

.op {
    animation: op 0.1s linear;
}

@keyframes op {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.logout .logout-form .btns .btn:nth-child(1),
.deletePostBtn {
    background: #2D3A3A !important;
    color: whitesmoke;
}

.deletePostBtn:hover {
    color: whitesmoke;
}

.signupBtnn {
    background-color: #FCFFFC !important;
    color: #2D3A3A;
}

.loginBtnn:hover,
.signupBtnn:hover {
    background-color: #2D3A3A;
    opacity: 0.6;
}

.loginBtnn:hover {
    background-color: #2D3A3A !important;
    color: whitesmoke !important;
}

.links ul li a {
    color: #121212;
}

.links ul li a {
    color: #121212;
}

.container-fluid section:first-child footer {
    height: 30px;
    position: absolute;
    top: calc(100% - 30px);
    background-color: #2D3A3A;
    color: whitesmoke;
    z-index: 3;
}

.container-fluid section:first-child footer a {
    color: whitesmoke;
    text-decoration: none;
}

.dots {
    z-index: 10;
}

.dots .dot {
    border-radius: 100%;
    overflow: hidden;
    width: 8px;
    height: 8px;
    background-color: #2D3A3A;
    opacity: 0.5;
    transition: 0.2s;
    cursor: pointer;
}

.slogan {
    z-index: 2;
    margin-top: 10%;
}

.animator {
    animation: animate 1.5s ease-in-out infinite;
    background-color: #2D3A3A;
    color: whitesmoke;
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.changing_text {
    transition: 1s;
}

.image-container {
    height: 500px;
    position: absolute;
    top: 10%;
    width: 100%;
    z-index: 1;
}

.image-container .image {
    width: 200px;
    height: 100%;
    margin: 0 auto;
    transition: 1s;
    margin-bottom: 10px;
}

.image-container .left .image img,
.image-container .right .image img {
    width: 100%;
}

.image-container .left .image,
.image-container .right .image {
    transition: 0.5s;
    opacity: 0.7;
}

.image-container .left .image:hover,
.image-container .right .image:hover {
    opacity: 1;
    transform: scale(1.1);
}

#section2 {
    background-color: #fefae0;
}

.password-input .btn:hover {
    border: 0;
    outline: 0;
    background-color: transparent !important;
    color: #2D3A3A !important;
}

.showHidePass {
    position: absolute;
    left: 1.5rem;
    top: 75%;
    transform: translate(-50%, -50%);
}

.showHidePass:hover {
    background: transparent !important;
}

.container.images img {
    position: relative;
}

.container.images img:nth-child(1) {
    left: 40px;
    top: 20px;
}

.container.images img:nth-child(1) {
    left: 100px;
}

.container.images img:nth-child(1) {
    left: 80px;
}

@keyframes animate {
    0% {
        transform: translateY(-15px);
    }
    50% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-15px);
    }
}

.expolore,
.expolore2 {
    background-color: #ddbea9;
    border-radius: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.expolore2 {
    background-color: rgb(255, 30, 244);
}

#section3 .row .col:first-child {
    background: linear-gradient(45deg, #ff78bc, pink);
}

#section3 .row .col:nth-child(2) {
    background: url("https://i.pinimg.com/564x/74/f6/79/74f679b90019f309a4fc56fd77f6f231.jpg");
    background-position: center;
}

.register-form {
    z-index: 100;
}

input:focus,
button:focus {
    box-shadow: none !important;
}

.loginBtn {
    background-color: #2D3A3A !important;
    color: whitesmoke;
}

.modal input:focus {
    border: 1px solid #2D3A3A !important;
}

.modal button {
    transition: 0.1s;
}

.modal button:hover {
    background-color: #2D3A3A !important;
    color: whitesmoke !important;
}

.search i {
    left: 25px;
    top: 50%;
    left: 35px;
    color: #2D3A3A;
    position: absolute;
    transform: translate(-50%, -50%);
}

.search #search:focus {
    border: 1px solid #2D3A3A !important;
    box-sizing: border-box !important;
}

#search-result {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 200;
}

.profile .account {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    overflow: hidden;
    cursor: pointer;
    transition: 0.1s;
}

.profile .account:hover {
    outline-offset: 3px;
    outline: 1px solid red;
}

.profile .create button {
    background-color: #2D3A3A;
    color: whitesmoke !important;
}

.profile .create button:hover {
    opacity: 0.8;
    color: whitesmoke !important;
    background-color: #2D3A3A !important;
}

.profile .menu .bars {
    font-size: 20px;
}

.profile .menu .bars:hover {
    background: transparent !important;
}

.profile .menu:active a i {
    opacity: 0.5 !important;
}

.navbar .dropdown {
    width: 30%;
    top: 100%;
    right: 20px;
    transition: 1s;
    position: absolute;
    box-shadow: 0 0 10px rgba(0 0 0 /10%);
}

.navbar .dropdown :hover {
    background: whitesmoke;
}

.hidden {
    display: none;
}

.display {
    display: block;
}

.navbar .dropdown .profile .image {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    overflow: hidden;
}

.profile-page .image {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    overflow: hidden;
    border: 1px solid lightgray !important;
}

.follow button,
.follow button {
    outline: none !important;
    border: none !important;
    cursor: pointer;
}

.follow button:hover,
.follow button:active {
    outline: none !important;
    border: none !important;
}

.share a {
    background-color: whitesmoke !important;
}

.share a:hover,
.share a:active {
    background: #2D3A3A !important;
    color: whitesmoke;
}

#logout:hover,
#logout:hover>* {
    background-color: red !important;
    color: whitesmoke !important;
    transition: 0.1s;
}

.profile-footer {
    position: sticky;
    top: 70px;
    background-color: white !important;
    width: 100%;
    z-index: 10;
}

.profile-footer .btns button.bg,
.profile-footer .btns button,
.switcher .btns button.bg,
.switcher .btns button {
    border: 0;
    outline: 0;
    position: relative;
}

.psotUsername:hover {
    text-decoration: underline;
}

.profile-footer .btns button.bg::after,
.switcher .btns button.bg::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background: #2D3A3A;
    border-radius: 5px;
}

.profile-footer .btns button:hover,
.switcher .btns button:hover,
.profile-footer .btns button.bg,
.switcher .btns button.bg {
    background-color: whitesmoke;
}

.profile-footer .btns button:hover::after,
.switcher .btns button::after {
    opacity: 1;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.posts {
    column-count: 5;
}

.posts .card {
    break-inside: avoid;
}

.posts .card .user-img {
    width: 40px;
    height: 40px;
}

.user-img {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 100%;
}

.posts .card .user:hover .username {
    text-decoration: underline;
}

.card .post-image {
    min-height: 200px !important;
    z-index: 1;
}

.card .post-image .layer,
.layer2 {
    background-color: rgba(0 0 0 /20%);
}

.card .post-image:hover .layer,
.layer2 {
    opacity: 1;
}

.card .layer,
.layer2 {
    transition: 0.1s;
    z-index: 2;
}

.card:hover .layer,
.created .layer2:hover {
    opacity: 1 !important;
}

.card .layer .btn:nth-child(1) {
    background-color: rgb(228, 14, 14) !important;
    color: white;
}

.card .layer .btn:nth-child(2) {
    background-color: white !important;
    color: black;
}

.card .layer .btn:nth-child(3) {
    background-color: whitesmoke !important;
    color: black;
}

.card .layer .btn:hover {
    transform: scale(0.95) !important;
}

.warning {
    left: 95%;
    top: -5px;
    background-color: red;
}

.profile-footer-content {
    height: auto;
}

.deletePost .delete-form {
    z-index: 200;
}

.deletePost {
    display: none;
    z-index: 200;
    background-color: rgba(0 0 0 /10%);
}

.deletePost .delete-form {
    margin-top: 200px;
}

.add-bio,
.follow-list,
.following-list {
    z-index: 200;
    display: none;
    background-color: rgba(0 0 0 /10%);
}

.add-bio .add-bio-form,
.follow-list .follow-list-container,
.following-list .follow-list-container {
    z-index: 200;
    margin-top: 200px;
}

.follow-list .follow-list-container,
.following-list .follow-list-container {
    margin-top: 200px;
    max-height: 400px;
}

.follow-list .follow-list-container .users-list,
.following-list .follow-list-container .users-list {
    max-height: 220px !important;
    overflow-y: scroll;
}

.add-bio .add-bio-form input:focus {
    border: 1px solid #2D3A3A !important;
}

.noposts {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.share .unfollowBtn,
.post-container .profile .unfollowBtn {
    background-color: #2D3A3A !important;
    color: whitesmoke !important;
}

@keyframes animate {
    0% {
        transform: translateY(-15px);
    }
    50% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-15px);
    }
}

#updatePfp {
    cursor: pointer;
    font-size: 0.8em;
}

.addBio {
    cursor: pointer;
    font-size: 0.8rem;
}

.bioTxt {
    font-size: 14px;
    max-width: 300px;
    word-break: break-all;
}

#updatePfp:hover,
.addBio:hover {
    color: green !important;
}

.updateMsg {
    background-color: rgba(0 255 0/10%);
    top: -20%;
}

.follower_acc:hover {
    background-color: whitesmoke;
}

.follower_acc .image,
.post-container .image {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 100%;
}

.post-container {
    overflow: hidden;
}

.description-header .layer a,
.description-header .layer button {
    font-size: 1.1rem;
}

.description-header .layer .p-2>*:not(.likePost):hover {
    color: whitesmoke;
    background-color: #2D3A3A !important;
}

.description-header .layer .p-2 .likePost:hover i small {
    color: whitesmoke !important;
}

.description-header .layer .likePost {
    color: #e90a1c;
}

.post-container .profile .unfollowBtn,
.post-container .profile .followBtn {
    font-size: 14px;
}

.description-header .layer .likePost .like-label {
    top: 130%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #2D3A3A;
    opacity: 0;
    font-size: 12px;
    width: 200%;
}

.description-header .layer .likePost:hover .like-label {
    opacity: 1;
}

.description-header .layer .likePost:hover {
    color: whitesmoke;
    background-color: #e90a1c !important;
}

.post-container .profile:hover {
    background-color: whitesmoke;
}

.post-container .comments {
    max-height: 200px;
    overflow-y: auto;
}

.comment-input .user {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    overflow: hidden;
}

.comment-input input:focus {
    border: 1px solid #2D3A3A;
}

.comments .profile .image {
    width: 30px;
    height: 30px;
}

.comments .profile:hover {
    background-color: transparent !important;
}

.pop-up {
    animation: popUp 0.2s linear;
}

@keyframes popUp {
    0% {
        transform: scale(0.5);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.uplaod-image-form input:focus,
.uplaod-image-form textarea:focus {
    border: 1px solid #2D3A3A !important;
}

@media(max-width:900px) {
    .image-container {
        display: block !important;
        top: 45%;
    }
    .image-container .image {
        width: 100px;
        height: 100%;
        margin: 0 auto;
    }
    .image-container .left .image img,
    .image-container .right .image img {
        border-radius: 15px !important;
    }
    .container.images img {
        width: 100px;
    }
    .create {
        display: none;
    }
    .navbar .dropdown {
        width: 50%;
    }
    .profile-page .image {
        width: 100px;
        height: 100px;
    }
    .search .search-result {
        width: 100%;
    }
    .posts,
    .liked-posts,
    .created-posts {
        column-count: 3;
    }
    .logout .logout-form {
        width: 50% !important;
    }
    .deletePost .delete-form {
        width: 50% !important;
    }
    .add-bio .add-bio-form,
    .follow-list-container {
        width: 50% !important;
    }
    .postDetails {
        padding: 0;
    }
    .uplaod-image-form {
        width: 100% !important;
    }
    .uplaod-image-form .form-group {
        margin-left: auto !important;
        margin-right: auto !important;
        width: 75% !important;
    }
    .uplaod-image-form .form-group .post-btn {
        width: 30%;
    }
    .showing-post {
        font-size: 12px !important;
    }
    .inbox-message {
        font-size: 13px !important;
    }
}

.warning {
    border: 2px solid #fff !important;
}

.search-result {
    display: none;
    max-height: 600px;
    overflow-y: auto;
}

.search-result .user .image,
.users-result .user .image {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 100%;
}

.search-result .post-image {
    max-height: 100px !important;
    overflow: hidden;
}

.search-result .user:hover,
.users-result .user:hover {
    background-color: whitesmoke;
}

.result-layer {
    position: absolute !important;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background-color: red;
}

@media(max-width:600px) {
    .links {
        display: none;
    }
    section nav.navbar,
    section nav.navbar form button {
        font-size: 0.8rem;
    }
    .image-container {
        display: block !important;
        top: 45%;
    }
    .image-container .image {
        width: 100px;
        height: 100%;
        margin: 0 auto;
    }
    .image-container .left .image img,
    .image-container .right .image img {
        border-radius: 15px !important;
    }
    .navbar .brand a .text {
        display: none;
    }
    .account {
        display: none;
    }
    .navbar .dropdown {
        width: 80%;
    }
    .posts,
    .liked-posts,
    .created-posts {
        column-count: 2;
    }
    .card .user-img {
        width: 30px !important;
        height: 30px !important;
        overflow: hidden !important;
        border-radius: 100%;
    }
    .profile .details span {
        font-size: 14px;
    }
    .logout .logout-form {
        width: 90% !important;
    }
    .deletePost .delete-form {
        width: 90% !important;
    }
    .add-bio .add-bio-form,
    .follow-list-container {
        width: 90% !important;
    }
    .sharePostBtn {
        margin-top: 10px;
    }
    .post-container .profile {
        font-size: 16px;
    }
    .post-container .profile .unfollowBtn,
    .post-container .profile .followBtn {
        font-size: 12px;
    }
    .postDetails {
        padding: 25px !important;
    }
    .posts {
        padding: 15px !important;
    }
    .search .search-result {
        width: 150%;
    }
    .comment-input .user {
        width: 40px;
        height: 40px;
    }
    .uplaod-image-form {
        width: 100% !important;
    }
    .uplaod-image-form .form-group {
        width: 100% !important;
    }
    .uplaod-image-form .form-group .post-btn {
        width: 100%;
    }
    #search-result {
        width: 90% !important;
    }
}